// Test Trusted Application (Unsigned)
// This TA should NOT load without the DMA attack

#include <tee_internal_api.h>
#include <tee_internal_api_extensions.h>

TEE_Result TA_CreateEntryPoint(void) {
    DMSG("Test TA: CreateEntryPoint called");
    return TEE_SUCCESS;
}

void TA_DestroyEntryPoint(void) {
    DMSG("Test TA: DestroyEntryPoint called");
}

TEE_Result TA_OpenSessionEntryPoint(uint32_t param_types,
                                     TEE_Param params[4],
                                     void **sess_ctx) {
    DMSG("Test TA: OpenSession called - Attack successful!");
    return TEE_SUCCESS;
}

void TA_CloseSessionEntryPoint(void *sess_ctx) {
    DMSG("Test TA: CloseSession called");
}

TEE_Result TA_InvokeCommandEntryPoint(void *sess_ctx,
                                      uint32_t cmd_id,
                                      uint32_t param_types,
                                      TEE_Param params[4]) {
    DMSG("Test TA: InvokeCommand called with cmd_id=%u", cmd_id);
    
    switch(cmd_id) {
    case 0: // Test command
        DMSG("Executing privileged operation from untrusted TA!");
        return TEE_SUCCESS;
    default:
        return TEE_ERROR_BAD_PARAMETERS;
    }
}
